form {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.row {
    margin: 5px;
}

.heading {
    text-align: center;
}

.Sign_Up {
    width: fit-content;
    margin: auto;
}

#male {
    background-color: red;
}